:host {
    display: flex;
    justify-content: center;
    position: relative;
    height: auto;
}

.board {
    position: absolute;
    border-style: solid;
    border-width: 2px;
    display: grid;
    height: 80vmin;
    width: 80vmin;
    top: 5vmin;
}