:host {
    display: flex;
    font-size: 5vmin;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-style: solid;
}

:host:focus {
    filter: brightness(75%);
}