.cell {
    display: flex;
    font-size: 275%;
    // height: 2em;
    // width: 2em;
    // font-size: 50%;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.cell:focus {
    filter: brightness(70%);
}