/* Create four equal columns that floats next to each other */
:host {
    float: left;
    width: 23%;
    height: 10px;
    background-color: red;
    margin: 2% 1% 0% 1%;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    :host {
        width: 48%;
        margin: 2% 1% 0% 1%;
    }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    :host {
        width: 96%;
        margin: 2% 2% 0% 2%;
    }
}